body {
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    padding: 2rem 9%;
}

header img {
    height: 2rem;
}

main{
    text-align: center;
    padding: 5rem 0;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 0rem;
    line-height: 3.5rem
}

h1 + p {
    margin-top: 0rem;
    font-size: 1.6rem;
    font-weight: 300;
}

h2 {
    font-size: 4.5rem;
    font-weight: 300;
    margin: 0;
    line-height: 3rem;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer1 {
    width: 200px;
    height: 200px;
    background-color: #00FFFF;
    border-radius: 50%;
}

#outer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
/*     background: conic-gradient(from 0deg, #d20094 45deg, transparent 45deg); */
}

#innerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(186, 186, 0);
}

#azzurro {
    color: #00FFFF;
}

#results {
    display: flex;
    justify-content: space-between;
}

#correctPerc, #wrongPerc {
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
}

#correct {
    text-align: left;
}

#wrong {
    text-align: right;
}

button {
    font-family: 'Outfit', sans-serif;
    color: white;
    cursor: pointer;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    background-color: transparent;
    border: solid 2px white;
    margin-top: 3rem;
    box-shadow: 0 0 10px 0.6px  #00ffff3d;
}

#domcorrNum, #wrgqstNum {
    font-weight: 200;
    font-size: 1.3rem;
    margin: 0;
}