body {
    background-image: url(../IMG/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    padding: 2rem 9%;
}

header img {
    height: 2rem;
}
main{
    text-align: center;
}

#circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outer1 {
    width: 200px;
    height: 200px;
    background-color: #00FFFF;
    border-radius: 50%;
}

#outer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
/*     background: conic-gradient(from 0deg, #d20094 45deg, transparent 45deg); */
}

#innerCircle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(186, 186, 0);
}

#azzurro {
    color: #00FFFF;
}

#results {
    display: flex;
    justify-content: space-between;
}